.tabela{
    color:black;
}

.text{
    color: black;
}

.botao{
    width: 100%;
}

.modais{
}

.form-group{
    color:black;
}

.btnDeletar{
    background-color: red;
}

.filterInput{
    width: 100%;
}
