.tabela{
    color:black;
}

.text{
    color: black;
}

.botao{
    width: 100%;
}

.modais{
}

.form-group{
    color:black;
}

.btnDeletar{
    background-color: red;
}

.filterInput{
    width: 100%;
}
body{
    font-size: 100px;
}

.modal{
    font-size: 20px;
}

.modal input{
    font-size: 15px;
}

.modal button{
    font-size: 15px;
    width: 100%;
    height: 200%;
}